/* Additional Features for UMAC Theme*/
/* Black Background Mod by Yisu Zhou */
.blackbg {
  background-color: #000000;
  color: #fff;
}

/* Color Mod by Yisu Zhou */
.red {
  color: #ff5ca8;
}
.green {
  color: #5aa800;
}
.blue {
  color: #0098e9;
}
.yellow {
  color: #f29318;
}
.violet {
  color: #807ac8;
}
.brown {
  color: #ac8254;
}
.orange {
  color: #f97860;
}
.cyan {
  color: #2da075;
}